/* By style class. */
.standard-label {
    padding: 6px;
}

/* By element name. */
#the-label {
    font-size: 60px;
}

/* By C# type. */
Label {
    color: rgb(0, 255, 93);
}

Button
{
	color: rgb(255,0,0);
	
}

Button:hover
{
	
	color: rgb(255,255,255);
}